<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NodeJS Example</title>
    <meta charset="utf-8">
    <meta name="description"  content="Homepage">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <body>
    <div class="content">
      <p>Server Status</p>
      <p>TODO</p>
    </div>

    <div class="content">
      <p>Click to turn on</p>
      <p>TODO</p>
    </div>

    <div class="content">
      <p>Click to turn off</p>
      <p>TODO</p>
    </div>
  </body>
</html>
